*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Red Hat Display', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:  hsl(210, 46%, 95%);
}
.container{
    display: block;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;



}
li img{
    margin-right: 10px;
}
ul,li{
    display: flex;
    list-style: none;
    align-items: center;
}
.siz{
    width: 300px;
    height: auto;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    background-color: hsl(217, 19%, 35%);
    justify-self: flex-end;
    display: none;
}
.footer1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    justify-self: flex-end;
    display: flex;
}
p{
    font-size: 13px;
    color:hsl(212, 23%, 69%);
    font-weight: 400;
    margin-top: 15px;

}
.text{
    text-align: left;
    padding: 30px 25px;

}
.text h2{
    font-size: 17px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    
}
li h2{
    font-size: 15px;
    text-transform: uppercase;
    color: hsl(210, 46%, 95%);
    margin-right: 30px;
}
button a{
    gap: 10px;
    align-self: center;
    font-size: 13px;
    margin-left: 10px;
}
button{
    border: none;
    outline: none;
    text-align: center;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: transform ease-in-out .2s;

}
button:hover{
    background-color: beige;
    transform: scale(1.2);
}
button:active{
    background-color: greenyellow;

}
.details h2{
    font-size: 14px;
    color: hsl(217, 19%, 35%);

} 
.img{
    display: flex;
    align-items: center;
}
h3{
    font-size: 12px;
    font-weight: 400;
    color: hsl(212, 23%, 69%);
}
.img img{

    height: 40px;
    width: 40px;
    font-weight: 700;
    border-radius: 50%;
}
.details{
    display: grid;
    row-gap: 5px;
    margin-left: 7px;
}
@media(min-width:560px){
    .container{
       width:560px;
       display: flex;
    }
    .siz{
        width: 40%;
    }
   

}
